body {
    margin: 0;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: white;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #ffffff20;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.score {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff20;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    text-align: center;
}

.score p {
    margin: 0;
}

.highscore {
    font-size: 12px;
}